name: Deploy to MonsterASP

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore ./Cinema.Api/Cinema.Api.csproj

    - name: Apply Production Settings
      uses: microsoft/variable-substitution@v1
      with:
        files: './Cinema.Api/appsettings.json'
      env:
        ConnectionStrings.DefaultConnection: ${{ secrets.CONNECTION_STRING }}
        ConnectionStrings.RedisConnection: ${{ secrets.REDIS_CONN }}
        JwtSettings.Secret: ${{ secrets.JWT_SECRET }}
        Tmdb.ApiKey: ${{ secrets.TMDB_API_KEY }}

    - name: Build and Publish
      run: dotnet publish ./Cinema.Api/Cinema.Api.csproj -c Release -o ./publish

    - name: Web Deploy to MonsterASP
      run: |
        $publishUrl = "${{ secrets.WEBDEPLOY_URL }}" 
        $userName = "${{ secrets.WEBDEPLOY_USERNAME }}" 
        $password = "${{ secrets.WEBDEPLOY_PASSWORD }}" 
        $siteName = "${{ secrets.WEBDEPLOY_SITE }}"
        $sourcePath = "${{ github.workspace }}\publish"

        # Викликаємо msdeploy.exe
        & "C:\Program Files\IIS\Microsoft Web Deploy V3\msdeploy.exe" `
            -verb:sync `
            -source:contentPath=$sourcePath `
            -dest:contentPath=$siteName,ComputerName=$publishUrl,UserName=$userName,Password=$password,AuthType='Basic' `
            -enableRule:AppOffline `
            -allowUntrusted `
            -verbose
