name: Deploy to MonsterASP

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore ./Cinema.Api/Cinema.Api.csproj

    - name: Apply Production Settings
      uses: microsoft/variable-substitution@v1
      with:
        files: 'Cinema.Api/appsettings.json'
      env:
        ConnectionStrings.DefaultConnection: ${{ secrets.CONNECTION_STRING }}
        JwtSettings.Secret: ${{ secrets.JWT_SECRET }}
        Redis.Configuration: ${{ secrets.REDIS_CONN }}

    - name: Build and Publish
      run: dotnet publish ./Cinema.Api/Cinema.Api.csproj -c Release -o ./publish

    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./publish/
        server-dir: /wwwroot/
        dangerous-clean-slate: true
